{% extends "default/_layouts/base" %}

{% block body %}

<header class="shrink cell" id="swup-navigation">
{% block navigation %}
{% endblock %}
</header>

<main class="shrink cell swup-transition-fade" id="swup-body">
{% block main %}
{% endblock %}
</main>

<footer class="shrink cell" id="swup-footer">
{% block calltoaction %}
{% endblock %}

{% block footer %}
{% endblock %}
</footer>

<!-- Navigation -->
{% include "_includes/reveal/navigation" %}
<!-- End Navigation -->

{% endblock %}