{% extends "_layouts/site" %}

{% set title = entry.title %}
{% set description = entry.description |striptags|slice(0, 120) %}
{% set asset = entry.image.first() %}
{% set image = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}

{% block main %}

<!-- Hero -->
{% set image = entry.image.first() %}
<div class="image--explore align-center-middle" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">

<div class="grid-y grid-padding-x height-100 align-right scrollarrow">
  <div class="shrink cell">
  
    <div class="grid-x padding-vertical-2">
      <div class="small-12 cell text-center white">
      <a data-scroll href="#page__content"><svg class="icon icon-arrow-down"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-down"></use></svg></a>
      </div>
    </div>
  
  </div>
</div>

{% endblock %}