@font-face {
  font-family: 'Scto Grotesk A Light';
  src: 
  url('../fonts/scto-grotesk-a-light.woff2') format('woff2'), 
  url('../fonts/scto-grotesk-a-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Post Grotesk Light';
  src: 
  url('../fonts/post-grotesk-light.woff2') format('woff2'), 
  url('../fonts/post-grotesk-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}