{# Footer #}
<div class="grid-x grid-padding-x grid-padding-y align-justify align-middle footer">
  <div class="auto cell">
    <a href="/" class="">{{company.address}}</a>
  </div>
</div>
{# End Footer #}
