{# Footer #}
<div class="grid-x grid-padding-x grid-padding-y align-justify align-middle footer">
  <div class="auto cell">
    <a href="/" class="">{{company.address}}</a>
  </div>

  <div class="auto cell">
    <ul class="menu align-right dark-gray">
      <li><a href="/privacy-policy">Privacy</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/mixes">Mixes</a></li>
    </ul>
  </div>

</div>
{# End Footer #}
