<!-- Call to Action -->
<div class="grid-x grid-padding-x grid-padding-y padding-vertical-space-1 align-center black-background">
  
  <div class="small-12 cell white text-center" data-aos="fade-in">
    <h1>Got a project?</h1>
  </div>

</div>
<!-- End Call to Action -->