<!-- Mobile Navigation -->
<div class="sticky-container navigation__wrapper">
  <div class="grid-x grid-padding-x grid-padding-y align-justify align-middle hide-for-large navigation">
    
    <div class="shrink cell">
      <a href="/" class="">Reformation</a>
    </div>
  
    <div class="shrink cell">
      <button data-toggle="offCanvasMenu" class="button clear"><svg class="icon icon-menu"><use xlink:href="/img/symbol-defs.svg#icon-menu"></use></svg></button>
    </div>
  
  </div>
</div>
<!-- End Mobile Navigation -->

<!-- Navigation -->
<div class="grid-x grid-padding-x grid-padding-y align-center show-for-large align-justify navigation">

  <div class="shrink cell">
    <h1>Reformation</h1>
  </div>
  
  <div class="shrink cell">
    <ul class="menu align-center-middle">
     <li><a href="/work" class="">Work</a></li>
     <li><a href="/studio" class="">Studio</a></li>
     <li><a href="/contact" class="">Contact</a></li>
    </ul>
  </div>

</div>
<!-- End Navigation -->