{% if page.layout == 'home' %}
<div class="cell">
{% else %}
<div class="small-12 medium-6 {% if project.is-full-width %}medium-12{% endif %} cell">
{% endif %}
  <a href="{{ project.url }}">
    {% assign image = project.image %}
    <div class="margin-bottom-2 light-gray-background excerpt" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
  </a>

  <h4 class="sans-regular medium-gray">{{ project.title }}</h4>

  <div class="grid-x">

  <div class="small-12 {% if page.layout == 'home' %}xxlarge-10{% endif %} cell">
    <h4>{{ project.excerpt }}</h4>
  </div>
  </div>

</div>