<div class="grid-y align-center" style="height: 100%;">
  <div class="shrink cell">
  
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="small-12 medium-6 cell text-center">
          <form action="{{ url('search/results') }}">
    
            <div class="grid-x grid-padding-x align-justify align-middle search">
              <div class="auto cell">
                <input type="search" id="middle-label" autofocus name="q" placeholder="Search">
              </div>
              <div class="shrink cell">
                  <button type="submit" class="button clear margin-bottom-0" value="Submit"><svg class="icon icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></button>
              </div>
            </div>
    
          </form>
        </div>
      </div>
    </div>
  
  </div>
</div>