<!-- Navigation -->
<div class="grid-y align-center off-canvas-menu" style="height: 100%;">
  
  <div class="shrink cell">
    <ul class="vertical menu align-center">
     <li><a href="/" class="h3">Overview</a></li>
     <li><a href="/work" class="h3">Work</a></li>
     <li><a href="/about" class="h3">About</a></li>
     <li><a href="/contact" class="h3">Notes</a></li>
     <li><a href="/contact" class="h3">Contact</a></li>
     <li><a href="/contact" class="h3">Subscribe</a></li>
    </ul>
  </div>

</div>
<!-- End Navigation -->