<!-- Navigation -->
<div class="grid-y align-center" style="height: 100%;">
  
  <div class="shrink cell">
    <ul class="vertical menu align-center sans-bold text-uppercase">
     <li><a href="/about" class="">About</a></li>
     <li><a href="/the-warning" class="">The Warning</a></li>
     <li><a href="/our-colours" class="">Our Colours</a></li>
     <li><a href="/challenge" class="">Challenge</a></li>
     <li><a href="/get-involved" class="">Get Involved</a></li>
     <li><a href="https://theoceanagency.org/donate">Donate</a></li>
    </ul>
  </div>

</div>
<!-- End Navigation -->