<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-justify align-middle" id="maintest">
  <div class="auto cell swup-transition-fade">
  {% if page.layout == "page" %}
  <a href="/" class="h3">{{page.title}}{% if page.client %}<span class="medium-gray padding-left-1 show-for-large">{{page.client}}</span>{% endif %}</a>
  {% else %}
  <a href="/" class="h3">Ref.</a>
  {% endif %}
  </div>
  <div class="shrink cell swup-transition-fade">
    <div class="hide-for-xxlarge">
    <a data-toggle="offCanvasMenu" style="z-index: 1001"><svg class="icon icon-sort"><use xlink:href="/assets/icons/symbol-defs.svg#icon-sort"></use></svg></a>
    </div>
    <div class="show-for-xxlarge">
  {% for entry in site.data.navigation.header %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}
  
      <ul class="menu" data-accordion-menu>
      {% for entry in site.data.navigation.header %}
      {% if entry.url == current_page %}
      {% assign current = 'class="active"' %}
      {% else %}
      {% assign current = null %}
      {% endif %}
      {% assign sublinks = entry.sublinks %}
      {% if sublinks %}
      <li{{ current }}><a href="#">{{ entry.title }}</a>
        <ul class="menu nested">
            {% for sublink in sublinks %}
            <li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
            {% endfor %}
         </ul>
      </li>
      
    <ul class="menu">
      {% else %}
        <li {{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" class="h5">{{ entry.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>

    </div>
  </div>
</header>