<!-- Carousel -->
<div class="grid-x">
  <div class="small-12 cell">
  
    <div class="swiper-container carousel--explore">
      <div class="swiper-wrapper">
        {% for image in entry.carousel %}
        <div class="swiper-slide">
            
          <!-- Image and Text -->
          <div class="image--default" data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-6" %}"></div>
          <!-- End Image and Text -->
          
        </div>
        {% endfor %}
      </div>

      <!-- Carousel Navigation -->
      <div class="grid-x grid-padding-x grid-padding-y align-justify">
        <div class="shrink cell">
          <ul class="menu">
            <li class="test-prev menu-text"><svg class="icon icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg></li>
            <li class="test-next menu-text"><svg class="icon icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></li>
          </ul>
        </div>
      </div>
      <!-- End Carousel Navigation -->
    </div>
  
  </div>
</div>
<!-- End Carousel -->