{% set image = entry.image.one() %}
<div class="image--hero margin-bottom-1" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">
  
  <div class="grid-y grid-padding-x height-100 align-center content">
    <div class="shrink cell">

      <div class="grid-x" data-aos="fade-in">
        <div class="small-12 cell text-center white">
        <h1>{{entry.title}}</h1>
        </div>
      </div>

    </div>
  </div>

  <div class="grid-y grid-padding-x height-100 align-center hashtag__wrapper">
    <div class="shrink cell">

      <div class="grid-x" data-aos="fade-in">
        <div class="shrink cell hashtag text-uppercase sans-bold">
         {{ site.hashtag }}           
        </div>
      </div>

    </div>
  </div>

</div>