{% set seoTitle = seo.seoTitle %}
{% set seoDescription = seo.seoDescription %}
{% set asset = seo.seoImage.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% set staticAssetsVersion = craft.app.config.general.staticAssetsVersion %}

{%- minify -%}
<!DOCTYPE html>
<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js" dir="ltr">
<head>
{% block head %}
  {% include "_includes/global/head" %}
{% endblock %}
{% block head_map %}
{% endblock %}
</head>
  <body {% if bodyClass is defined %}class="{{ bodyClass }}"{% endif %}>
	{% block body %}{% endblock %}
	</body>
</html>
{%- endminify -%}