{% extends "_layouts/base" %}

{% block body %}

<!-- Off Canvas Navigation -->
<div class="off-canvas position-left" id="offCanvasMenu" data-off-canvas data-transition="overlap" data-close-on-click="false" data-auto-focus="false">
{% include "_includes/off-canvas/menu" %}
</div>
<!-- End Off Canvas Navigation -->

<div class="off-canvas-content data-off-canvas-content">

{% block navigation %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

</div>

{% include "_includes/global/analytics" %}
{% include "_includes/global/scripts" %}

{% endblock %}