{% extends "_layouts/site" %}

{% set title = entry.title %}
{% set description = entry.description |striptags|slice(0, 120) %}

{% block navigation %}
{% include "_includes/global/navigation--relative" %}
{% endblock %}


{% block main %}
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell text-center">
      <h3>{{ entry.title }}</h3>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
      {{ entry.body }}
    </div>
  </div>
</div>
{% endblock %}