---
layout: default
---

<!-- Page Content -->
{% if page.content %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-left">
    <div class="small-12 medium-10 large-10 cell padding-bottom-2">
      <h3 class="margin-bottom-2 medium-gray">Profile</h3>
      <div class="h5">
      {{ page.content | replace: "/uploads", "https://hot-feet.imgix.net/uploads" | markdownify }}
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Content -->

<section class="grid-container">
<h3 class="medium-gray">Team</h3>
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3">
  {% for person in page.people %}
	<div class="cell">
    <img src="{{ person.image }}" class="margin-bottom-1" alt="{{person.name}}">
    <h5 class="secondary-color margin-bottom-0">{{person.name}}</h5>
    <h5 class="margin-bottom-1">{{person.role}}</h5>
    {{person.description | markdownify}}
	</div>
	{% endfor %}
</div>
</section>

<!-- Clients -->
{% if page.clients %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-left">
    <div class="small-12 medium-10 large-10 cell padding-bottom-3">
      <h3 class="margin-bottom-2 medium-gray">Clients + Collaborators</h3>
      <div class="h5">
      {{ page.clients | markdownify }}
      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Clients -->